@model Voluntinder.Models.MyMatchesModel
@{
    ViewBag.Title = "Index";
}

<h2>My Matches</h2>

@if (Model.Matches.Any())
{
    foreach (var match in @Model.Matches)
     {
         <p>@match.Name</p>
         <p>@match.ProfileImage</p>
         <p>@match.MatchedOn</p>
         <p>@match.ProfileLink</p>

         <a class="btn btn-default btn-twitter fa fa-twitter" id="Twitter" href="@match.Tweet" target="popup" onclick=" window.open(this.href, 'SendATweet', 'toolbar=no, location=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=500, height=250'); " data-size="large"> Tweet</a>
     }
}
else
{
    <h3>No matches yet!</h3>
}