@model Voluntinder.Models.MatchViewModel 
@{
    ViewBag.Title = Model.PageTitle;
}

<div id="profiles" class="row">
    @foreach (var user in Model.Profile)
    {
        <div class="profile" data-user-id="@user.UserId">
            <a class="info" href="/Profile?profileId=@user.UserId">
                <img src="@user.ImageUrl" alt="@user.Name" />
            </a>
            <div class="details">
                <span class="name">@user.Name</span>
                <a class="username" href="//www.twitter.com/@user.UserName">@@@(user.UserName) <span class="fa fa-twitter"></span></a>
            </div>
            <div class="actions">
                <a class="reject" onclick="rejectProfile()"><span class="fa fa-times"></span></a>
                <a class="info" href="/Profile?profileId=@user.UserId"><span class="fa fa-info"></span></a>
                <a class="accept" onclick="acceptProfile()"><span class="fa fa-heart"></span></a>
            </div>
        </div>
    }
    <div id="nomatches">
        <h3>No matches!</h3>
        <p>Update your skills or try again later for more matches</p>
        <a class="btn btn-default btn-primary" href="/Skills">Update now</a>
    </div>
    <div id="done">
        <h3>Done!</h3>
        <p>Update your skills or try again later for more matches</p>   
        <a class="btn btn-default btn-primary" href="/Skills">Update now</a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).on("mobileinit", function () {
            $.mobile.ajaxEnabled = false;
            $.mobile.loading().hide();
        });
    </script>
    @Scripts.Render("~/bundles/jquerymobile")
    
    <script type="text/javascript">
        var profiles = $('.profile');
        var currentIndex = 0;
        if (profiles.length == 0) {
            $('#nomatches').addClass('current');
        } else {
            $(profiles[currentIndex]).addClass('current');
        }

        function showHideMore() {
            $(profiles[currentIndex]).find('.more').addClass("expanded");
        }

        function acceptProfile() {
            moveProfile('accept');
        }

        function rejectProfile() {
            moveProfile('reject');
        }

        function moveProfile(classToAdd) {
            $(profiles[currentIndex]).addClass(classToAdd).delay(400).queue(function (next) {
                $(profiles[currentIndex]).removeClass(classToAdd).toggleClass('current');
                $(profiles[currentIndex + 1]).toggleClass('current');

                $.ajax({
                    type: 'POST',
                    url: "/Match/" + classToAdd,
                    data: { 'profileId': $(profiles[currentIndex]).data('user-id') },
                    dataType: JSON
                });

                currentIndex = currentIndex + 1;
                if (currentIndex == profiles.length) {
                    $('#done').addClass('current');
                }

                next();
            });
        }

        $(profiles).swipeleft(rejectProfile);
        $(profiles).swiperight(acceptProfile);
        $(profiles).click(showHideMore);
    </script>
}