@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @if (!ViewContext.RouteData.Values["controller"].Equals("Skills"))
        {
            <li>@Html.ActionLink("My Skills", "Index", "Skills")</li>
        }
        @if (!ViewContext.RouteData.Values["controller"].Equals("Match"))
        {
            <li>@Html.ActionLink("Find Matches", "Index", "Match")</li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register as a Charity", "RegisterCharity", "Account", routeValues: null, htmlAttributes: new { id = "registerCharityLink" })</li>
        <li>@Html.ActionLink("Register as a Volunteer", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
