@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security
@using VoluntinderDb
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        voluntinder_dbEntities DbContext = new voluntinder_dbEntities();
        var id = User.Identity.GetUserId();
        var profile = DbContext.AspNetUsers.FirstOrDefault(x => x.Id == id);
        
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <img src="@profile.ImageUrl" alt="@profile.Name" width="36" height="36" style="margin-top: 8px;" />
            </li>
            <li class="hidden-xs">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
            </li>
            @if (!ViewContext.RouteData.Values["controller"].ToString().ToLower().Equals("skills"))
            {
                <li>@Html.ActionLink("Skills", "Index", "Skills")</li>
            }
            @if (!ViewContext.RouteData.Values["controller"].ToString().ToLower().Equals("match"))
            {
                <li>@Html.ActionLink("Find", "Index", "Match")</li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @{
                var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                using (Html.BeginForm("ExternalLogin", "Account"))
                {
                    @Html.AntiForgeryToken()
                    foreach (var p in loginProviders)
                    {
                        <button type="submit" class="fakeLink" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">Log in <span class="fa fa-@p.AuthenticationType.ToLower()"></span></button>
                    }
                }
            }
        </li>

    </ul>
}
