@model Voluntinder.Models.ProfileViewModel
<div class="profile full">
    <img src="@Model.ImageUrl" alt="@Model.Name" />
    <div class="details">
        <span class="name">@Model.Name</span>
        <a class="username" href="//www.twitter.com/@Model.UserName">@@@(Model.UserName) <span class="fa fa-twitter"></span></a>
        <p>@Model.Description</p>
        @if (Model.Skills.Any())
        {
            <span>Skills:</span>
            <ul class="skills">
                @foreach (var skill in Model.Skills)
                {
                    <li>@skill.Name</li>
                }
            </ul>
        }
    </div>
</div>