@model Voluntinder.Models.ProfileViewModel 

<div>
    <img src="@Model.ImageUrl" alt="@Model.Name" width="400" height="400" />
    <h2>@Model.Name</h2>
    <h3>@Model.UserName</h3>
    <ul>
        @foreach (var skill in Model.Skills)
        {
            <li>@skill.Name</li>
        }
    </ul>
    <div class="more">
        <p>@Model.Description</p>
    </div>
</div>